*{
margin: 0;
padding:0;
}
body{

background-color: #000000;
   
}
#visivel h2{
	color:#FFD400;
	text-shadow: 1px 5px 1px #000000;
	background-color: rgba(241, 143, 1, 0.3);
	padding: 10px;
}
#visivel a{
   text-decoration: none;
}
.glyphicon{
  color: #fff;
}
.sliderprincipal{
	
}
/*botão entrar*/
.hvr-float-shadow{
	font-size: 30px;
}
#entrar{

	margin-bottom: 80px;
}
h1{
	text-shadow: 1px 1px 1px #000000;
}
